<footer>
    <div id="wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3549.521275865579!2d78.03766837490404!3d27.171348648929015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39747123b369df2b%3A0x5b725845799ad853!2sTaj%20Mahal%20Agra%20Tour%20Guide%20(Govt.%20approved)%20English%20%26%20German%20family!5e0!3m2!1sen!2sin!4v1708415980315!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div id="info">
            <div id="address">
                <h3>Our Address:</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, Error fugiat accusantium perspiciatis deleniti corrupti a, Quae mollitia fuga libero molestiae.</p>
            </div>
            <div id="links-group">
                <div id="links">
                    <a href="#">Home</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Reviews</a>
                    <a href="#">Support</a>
                </div>
                <div id="promo">
                    <p>Made with 
                        <lord-icon
                            id="heart"
                            src="https://cdn.lordicon.com/lspneabr.json"
                            trigger="in"
                            style="width:40px;height:40px">
                        </lord-icon>
                    </p>
                    <p>By Sujal Kulshrestha</p>
                    <a href="https://lordicon.com/">Icons by Lordicon.com</a>
                </div>
            </div>  
        </div>
    </div>
    <div id="socials">
        <div id="brand-footer">
            <lord-icon
                src="https://cdn.lordicon.com/eiekfffz.json"
                trigger="in"
                delay="0"
                stroke="bold"
                state="in-reveal"
                style="width:300px;height:300px">
            </lord-icon>
            <div id="typewriter-footer"></div>
        </div>
    </div>
</footer>
