<header>
    <nav>
        <div id="brand">
            <lord-icon
                src="https://cdn.lordicon.com/eiekfffz.json"
                trigger="in"
                delay="0"
                stroke="bold"
                state="in-reveal"
                style="width: 80px; height: 80px">
            </lord-icon>
            <div id="typewriter"></div>
        </div>
        <div id="nav-buttons">
            <button onclick="location.href='/'">Home</button>
            <button onclick="location.href='/'">About Us</button>
            <button onclick="location.href='/'">Contact Us</button>
            <button onclick="location.href='/'">Login</button>
        </div>
    </nav>
</header>